<div ng-controller="ScenarioCtrl">

	<div class="container details"> 
	
		<h1></span>{{ 'webapp.nav_scenario' | i18n }}</h1>
		<p>{{ 'webapp.example_text' | i18n }}</p>
		<div class="row">
			<div class="col-lg-6">
				<h3>{{ 'webapp.example_androidapp' | i18n }}</h3>
				<img src="img/android_coffee_machine.png" width="200px" style="display: block; float: left; margin-right: 10px;"></img>
				<p>{{ 'webapp.example_androidapp_text' | i18n }}</p>
			</div>
			<div class="col-lg-6">
				<h3>{{ 'webapp.example_webapp' | i18n }}</h3>
				<img src="img/webapp_coffee_machine.png" width="200px" style="display: block; float: left; margin-right: 10px;"></img>
				<p>{{ 'webapp.example_webapp_text' | i18n }}</p>		
			</div>
		</div>
		
	</div>
	<br/>
</div>
