.dashboard-item {
    .dashboard-header {
        font-size: 1.5em;
        padding: 0 10px;
    }
    .vcenter {
        display: inline-block;
        vertical-align: middle;
        float: none;
    }
    .table {
        margin-bottom: 0px;
    }
    .icon {
        padding-right: 5px;
    }
}
