<?xml version="1.0" encoding="UTF-8"?>
<!-- 
# Note: this is only a stub

You can use annotations to configure everything that used to be in this deployment
descriptor since Java EE 6 and Servlet 3.0 (which is the preferred way).
-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>iot</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
 <!--      <servlet>
        <servlet-name>de.uni_stuttgart.riot.userManagement.rest.ExampleResource</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>de.uni_stuttgart.riot.userManagement.rest.ExampleResource</servlet-name>
        <url-pattern>/api/v2/*</url-pattern>
    </servlet-mapping>
     -->
</web-app>