<div class="row" ng-controller="AuthorizationListCtrl">

  <!-- table -->
  <div class="detail-group col-md-7">
    <div class="detail-group-header">{{ 'user.roles' | i18n }}</div>

    <button class="btn btn-default list-collapse-button" type="button" data-toggle="collapse" data-target=".list-options" aria-expanded="false">
      <span class="fa fa-bars"></span>
    </button>

    <!-- header -->
    <div class="row form-inline list-options margin-top-10">
      <div class="col-sm-6 form-group">
        <select selectpicker class="form-control" data-width="100px" ng-model="rolesPagination.limit" ng-change="getRoles()">
          <option>10</option>
          <option>20</option>
          <option>50</option>
          <option>100</option>
        </select>
      </div>
      <div class="col-sm-6 form-group">
        <div class="pull-right" filters="rolesFilter.filters" properties="rolesFilter.properties" update="getRoles()" rest-filter></div>
      </div>
    </div>

    <div class="list-group margin-top-10">
      <a class="list-group-item" ui-sref="admin.authorization.role({roleid: role.id})" ng-repeat="role in roles">
        <h4 class="list-group-item-heading">{{role.roleName}}</h4>
        <div class="list-group-item-text">{{role.description}}</div>
        <div class="list-group-item-text"><span style="margin-right: 15px;" ng-repeat="permission in role.permissions">{{permission.permissionValue}};</span></div>
      </a>
    </div>

    <!-- footer -->
    <div class="row">
      <div class="col-sm-12">
        {{ 'common.showing' | i18n }} {{(rolesPagination.current - 1) * rolesPagination.limit + 1}} {{ 'common.to' | i18n }} {{(rolesPagination.current - 1) * rolesPagination.limit + roles.length}} {{ 'common.of' | i18n }} {{rolesPagination.total}} {{ 'common.entries' | i18n }}
        <span class="pull-right">
          <button type="button" class="btn btn-success" ui-sref="admin.authorization.role">
            <span class="fa fa-plus"></span>
            {{'common.add' | i18n}}
          </button>
        </span>
      </div>
      <div class="col-sm-12 text-center">
        <pagination ng-model="rolesPagination.current" items-per-page="rolesPagination.limit" total-items="rolesPagination.total" ng-change="getRoles()"></pagination>
      </div>
    </div>
  </div>

  <div class="detail-group col-md-7">
     <div class="detail-group-header">{{ 'user.roles' | i18n }}</div>

    <button class="btn btn-default list-collapse-button" type="button" data-toggle="collapse" data-target=".list-options" aria-expanded="false">
      <span class="fa fa-bars"></span>
    </button>

    <!-- header -->
    <div class="row form-inline list-options margin-top-10">
      <div class="col-sm-6 form-group">
        <select selectpicker class="form-control" data-width="100px" ng-model="permissionsPagination.limit" ng-change="getPermissions()">
          <option>10</option>
          <option>20</option>
          <option>50</option>
          <option>100</option>
        </select>
      </div>
      <div class="col-sm-6 form-group">
        <div class="pull-right" filters="permissionsFilter.filters" properties="permissionsFilter.properties" update="getPermissions()" rest-filter></div>
      </div>
    </div>

    <div class="list-group margin-top-10">
      <a class="list-group-item" ui-sref="admin.authorization.permission({permissionid: permission.id})" ng-repeat="permission in permissions">
        <h4 class="list-group-item-heading">{{permission.permissionValue}}</h4>
        <p class="list-group-item-text">{{permission.description}}</p>
      </a>
    </div>

    <!-- footer -->
    <div class="row">
      <div class="col-sm-12">
        {{ 'common.showing' | i18n }} {{(permissionsPagination.current - 1) * permissionsPagination.limit + 1}} {{ 'common.to' | i18n }} {{(permissionsPagination.current - 1) * permissionsPagination.limit + permissions.length}} {{ 'common.of' | i18n }} {{permissionsPagination.total}} {{ 'common.entries' | i18n }}
        <span class="pull-right">
          <button type="button" class="btn btn-success" ui-sref="admin.authorization.permission">
            <span class="fa fa-plus"></span>
            {{'common.add' | i18n}}
          </button>
        </span>
      </div>
      <div class="col-sm-12 text-center">
        <pagination ng-model="permissionsPagination.current" items-per-page="permissionsPagination.limit" total-items="permissionsPagination.total" ng-change="getPermissions()"></pagination>
      </div>
    </div>
  </div>
  <div class="col-lg-5"></div>
</div>
