<div class="row" ng-controller="AuthorizationListCtrl">

  <div class="col-md-12">
    <h3><strong>{{ 'user.roles' | i18n }}</strong></h3>
  </div>

  <!-- table -->
  <div class="col-lg-7">
    <button class="btn btn-default list-collapse-button" type="button" data-toggle="collapse" data-target=".list-options" aria-expanded="false">
      <span class="fa fa-bars"></span>
    </button>

    <!-- header -->
    <div class="row form-inline list-options margin-top-10">
      <div class="col-sm-6 form-group">
        <select selectpicker class="form-control" data-width="100px" ng-model="rolesList.limit">
          <option>10</option>
          <option>20</option>
          <option>50</option>
          <option>100</option>
        </select>
      </div>
      <div class="col-sm-6 form-group">
        <input id="listFilter" type="search" class="form-control pull-right" placeholder="Filter" ng-model="rolesList.filter">
      </div>
    </div>

    <div class="list-group margin-top-10">
      <a class="list-group-item" ui-sref="admin.authorization.role({roleid: role.id})" ng-repeat="role in roles">
        <h4 class="list-group-item-heading">{{role.roleName}}</h4>
        <div class="list-group-item-text">{{role.description}}</div>
        <div class="list-group-item-text"><span style="margin-right: 15px;" ng-repeat="permission in role.permissions">{{permission.permissionValue}};</span></div>
      </a>
    </div>

    <!-- footer -->
    <div class="row">
      <div class="col-sm-12">
        {{ 'common.showing' | i18n }} {{(rolesList.current - 1) * rolesList.limit + 1}} {{ 'common.to' | i18n }} {{(rolesList.current - 1) * rolesList.limit + roles.length}} {{ 'common.of' | i18n }} {{rolesList.total}} {{ 'common.entries' | i18n }}
        <span class="pull-right">
          <button type="button" class="btn btn-success" ui-sref="admin.authorization.role">
            <span class="fa fa-plus"></span>
            Add
          </button>
        </span>
      </div>
      <div class="col-sm-12 text-center">
        <pagination ng-model="rolesList.current" items-per-page="rolesList.limit" total-items="rolesList.total" ng-change="getRoles()"></pagination>
      </div>
    </div>
  </div>
  <div class="col-lg-5"></div>

  <div class="col-md-12">
    <h3><strong>{{ 'user.permissions' | i18n }}</strong></h3>
  </div>

  <div class="col-lg-7">
    <button class="btn btn-default list-collapse-button" type="button" data-toggle="collapse" data-target=".list-options" aria-expanded="false">
      <span class="fa fa-bars"></span>
    </button>

    <!-- header -->
    <div class="row form-inline list-options margin-top-10">
      <div class="col-sm-6 form-group">
        <select selectpicker class="form-control" data-width="100px" ng-model="permissionsList.limit">
          <option>10</option>
          <option>20</option>
          <option>50</option>
          <option>100</option>
        </select>
      </div>
      <div class="col-sm-6 form-group">
        <input id="listFilter" type="search" class="form-control pull-right" placeholder="Filter" ng-model="permissionsList.filter">
      </div>
    </div>

    <div class="list-group margin-top-10">
      <a class="list-group-item" ui-sref="admin.authorization.permission({permissionid: permission.id})" ng-repeat="permission in permissions">
        <h4 class="list-group-item-heading">{{permission.permissionValue}}</h4>
        <p class="list-group-item-text">{{permission.description}}</p>
      </a>
    </div>

    <!-- footer -->
    <div class="row">
      <div class="col-sm-12">
        {{ 'common.showing' | i18n }} {{(permissionsList.current - 1) * permissionsList.limit + 1}} {{ 'common.to' | i18n }} {{(permissionsList.current - 1) * permissionsList.limit + permissions.length}} {{ 'common.of' | i18n }} {{permissionsList.total}} {{ 'common.entries' | i18n }}
        <span class="pull-right">
          <button type="button" class="btn btn-success" ui-sref="admin.authorization.permission">
            <span class="fa fa-plus"></span>
            Add
          </button>
        </span>
      </div>
      <div class="col-sm-12 text-center">
        <pagination ng-model="permissionsList.current" items-per-page="permissionsList.limit" total-items="permissionsList.total" ng-change="getPermissions()"></pagination>
      </div>
    </div>
  </div>
  <div class="col-lg-5"></div>
</div>
