<div class="row" ng-controller="ThingsUserDetailCtrl">
  <div class="col-lg-7">
    <!-- Administration -->
    <h3><strong>Administration</strong></h3>
    <form class="form-horizontal">
      <!-- delete thing -->
      <div class="form-group">
        <label class="control-label col-md-2">Delete Thing</label>
        <div class="col-md-8">
          <button type="button" class="btn btn-danger" ng-click="removeThing()">
            <span class="fa fa-times"></span>
            Remove
          </button>
        </div>
      </div>
    </form>

    <h3><strong>Thing Data</strong></h3>
    <form name="formThingDetail" class="form-horizontal margin-top-30" novalidate ng-submit="formThingDetail.$valid">
      <!-- thingid -->
      <div class="form-group">
        <label class="control-label col-md-2" for="thingid">Thing ID</label>
        <div class="col-md-8">
          <input id="thingid" name="thingid" type="text" placeholder="" class="form-control" ng-model="thingDetail.id" disabled>
        </div>
      </div>

      <!-- name -->
      <div class="form-group">
        <label class="control-label col-md-2" for="name">Name</label>
        <div class="col-md-8">
          <input id="name" name="name" type="text" placeholder="" class="form-control" ng-model="thingDetail.name">
        </div>
      </div>

      <!-- type -->
      <div class="form-group">
        <label class="control-label col-md-2" for="type">Type</label>
        <div class="col-md-8">
          <input id="type" name="type" type="text" placeholder="" class="form-control" ng-model="thingDetail.type">
        </div>
      </div>

      <!-- Save -->
      <div class="form-group">
        <div class="col-md-offset-2 col-md-8">
          <button type="submit" class="btn btn-primary" submit="updateThing()" loading-button="save">Save</button>
          <button ui-sref="admin.things.list" type="button" class="btn btn-default">Cancel</button>
        </div>
      </div>
    </form>

    <div class="form-horizontal">
      <!-- Properties -->
      <h3><strong>Properties</strong></h3>
      <div class="form-group">
        <div class="col-md-2"></div>
        <div class="col-md-8">
        ...
        </div>
      </div>
    </div>

    <div class="form-horizontal">
      <!-- Events -->
      <h3><strong>Events</strong></h3>
      <div class="form-group">
        <div class="col-md-2"></div>
        <div class="col-md-8">
        ...
        </div>
      </div>
    </div>

    <div class="form-horizontal">
      <!-- Actions -->
      <h3><strong>Actions</strong></h3>
      <div class="form-group">
        <div class="col-md-2"></div>
        <div class="col-md-8">
        ...
        </div>
      </div>
    </div>

  </div>
  <div class="col-lg-5"></div>
</div>
