<div class="row" ng-controller="ThingsAdminListCtrl">

  <div class="col-md-12">
    <h3><strong>Things</strong></h3>
  </div>

  <!-- table -->
  <div class="col-md-12">
    <button class="btn btn-default list-collapse-button" type="button" data-toggle="collapse" data-target=".list-options" aria-expanded="false">
      <span class="fa fa-bars"></span>
    </button>

    <!-- table header -->
    <div class="row form-inline list-options margin-top-10">
      <div class="col-sm-6 form-group">
        <div class="input-group input-limit">
          <input type="text" class="form-control" ng-model="limit">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li><a ng-click="limit=10" href="">10</a></li>
              <li><a ng-click="limit=20" href="">20</a></li>
              <li><a ng-click="limit=50" href="">50</a></li>
              <li><a ng-click="limit=100" href="">100</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6 form-group">
        <input id="listFilter" type="search" class="form-control pull-right" placeholder="Filter" ng-model="filter">
      </div>
    </div>

    <!-- table content -->
    <div class="table-list margin-top-10">
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr role="row">
              <th style="width: 50px;">ID</th>
              <th style="width: 150px;">Name</th>
              <th style="width: 200px;">Type</th>
              <th style="width: 225px;">Owner</th>
            </tr>
          </thead>
          <tbody>
            <tr ui-sref="admin.things.detail({thingid: thing.id})" ng-repeat="thing in things">
              <td>{{thing.id}}</td>
              <td>{{thing.name}}</td>
              <td>{{thing.type}}</td>
              <td>{{thing.ownerID}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- table footer -->
    <div class="row">
      <div class="col-sm-6">
        <div>Showing {{(current - 1) * limit}} to {{(current - 1) * limit + things.length}} of {{total}} entries</div>
      </div>
      <div class="col-sm-12 text-center">
        <pagination ng-model="current" items-per-page="limit" total-items="total" ng-change="getThings()"></pagination>
      </div>
    </div>
  </div>

</div>
