<div class="sidebar" role="navigation" ng-controller="SidebarCtrl">
  <ul class="nav">
    <li>
      <a href="#/dashboard" ng-class="{active:isActive('/dashboard')}"><i class="fa fa-dashboard"></i> Dashboard</a>
    </li>

    <li>
      <a href="#/devices" ng-class="{active:isActive('/devices')}"><i class="fa fa-table"></i> Devices</a>
    </li>

    <li>
      <a href="#/calendar" ng-class="{active:isActive('/calendar')}"><i class="fa fa-edit"></i> Calendar</a>
    </li>

    <li>
      <a href="#/admin"><i class="fa fa-sitemap"></i> Administration</a>
      <ul class="nav nav-second-level">
        <li>
          <a href="#/admin/server">Server</a>
        </li>
        <li>
          <a href="#/admin/users">Users</a>
        </li>
        <li>
          <a href="#/admin/foo">foo</a>
        </li>
        <li>
          <a href="#/admin/bar">bar</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
