<li class="alerts dropdown">
  <a class="dropdown-toggle" href="">
    <span ng-if="notifications.length > 0" class="badge">{{ notifications.length }}</span>
    <i class="fa fa-bell fa-fw"></i>
    <i class="fa fa-caret-down"></i>
  </a>
  <ul class="dropdown-menu">
    <li ng-repeat-start="notification in notifications | limitTo:5:0">
      <a ui-sref="app.things.detail({thingid: notification.thingID})">
        <div>
          <i notification-icon severity="notification.severity"></i> {{ 'notification.' + notification.titleKey | i18n }}
          <span class="pull-right text-muted small">{{notification.time | date:'dd.MM.yyyy HH:mm:ss'}}</span>
        </div>
      </a>
    </li>
    <li ng-repeat-end class="divider"></li>
    <li class="no-notifications" ng-if="notifications.length == 0">
      <strong>{{ 'notification.no_new_notifications' | i18n }}</strong>
    </li>
    <li ng-if="notifications.length == 0" class="divider"></li>
    <li>
      <a class="text-center" ui-sref="app.notifications">
        <strong>{{ 'common.showMore' | i18n }}</strong>
        <i class="fa fa-angle-right"></i>
      </a>
    </li>
  </ul>
</li>
