<div clss="features" ng-controller="FeaturesCtrl">
	<div class="container details"> 
	
		<h1><span class="fa fa-cloud"></span> Server</h1>
		<div class="row">
			<div class="col-lg-6">
				<img src="img/internet_of_things_overview.png" height="200px" style=" display: block; margin-left: auto; margin-right: auto;"></img>
			</div>
			<div class="col-lg-6">
				<p>{{ 'webapp.features_server' | i18n }}</p>
			</div>
		</div>
		
		<h1><span class="fa fa-globe"></span> Web</h1>
		<div class="row">
			<div class="col-lg-6">
				<p>{{ 'webapp.features_web' | i18n }}</p>
			</div>
			<div class="col-lg-6">
				<img src="img/webapp_home_screen.png" height="200px" style=" display: block; margin-left: auto; margin-right: auto;"></img>
			</div>
		</div>

		<h1><span class="fa fa-android"></span> Android</h1>
		<div class="row">
			<div class="col-lg-6">
				<img src="img/android_home_screen.png" height="200px" style=" display: block; margin-left: auto; margin-right: auto;"></img>
			</div>
			<div class="col-lg-6">
				<p>{{ 'webapp.features_android' | i18n }}</p>
			</div>
		</div>

		<h1><span class="fa fa-mobile"></span> Things</h1>
		<div class="row">
			<div class="col-lg-6">
				<p>{{ 'webapp.features_things' | i18n }}</p>
			</div>
			<div class="col-lg-6">
				<img src="img/rest_api.png" height="200px" style=" display: block; margin-left: auto; margin-right: auto;"></img>
			</div>
		</div>
		
		<h1><span class="fa fa-cogs"></span> Simulation</h1>
		<div class="row">
			<div class="col-lg-6">
				<img src="img/coffee_machine_simulator.png" height="200px" style=" display: block; margin-left: auto; margin-right: auto;"></img>
			</div>
			<div class="col-lg-6">
				<p>{{ 'webapp.features_simulation' | i18n }}</p>
			</div>
		</div>

	</div>
	<br/>
</div>