<div class="dashboard" ng-controller="DashboardCtrl">
  <div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Dashboard</h1>
  </div>
  </div>

  <div class="row">
  <dashboard-item icon="fa-bullseye" heading="Things" items="items.things"></dashboard-item>
  <dashboard-item icon="fa-exclamation-triangle" heading="Errors/Warnings" items="items.errWarn"></dashboard-item>
  <dashboard-item icon="fa-calendar" heading="Upcoming events" items="items.events"></dashboard-item>
  </div>

  <div class="row">
  <div class="col-lg-12">
    <h2 class="activity-header">Activity Log</h2>
    <dashboard-log-item text="item.text" time="item.time" important="item.important" icon="item.icon" ng-repeat="item in log.items"></dashboard-log-item>
  </div>
  </div>
</div>
