<div class="row" ng-controller="UsersDetailCtrl">
  <div class="col-lg-7">
    <h3><strong>General</strong></h3>
    <form name="formUserDetail" class="form-horizontal margin-top-30" novalidate ng-submit="formUserDetail.$valid && save()">
      <!-- userid -->
      <div class="form-group">
        <label class="control-label col-md-2" for="userid">User ID</label>
        <div class="col-md-8">
          <input id="userid" name="userid" type="text" placeholder="" class="form-control" ng-model="userDetail.id" disabled>
        </div>
      </div>

      <!-- username -->
      <div class="form-group">
        <label class="control-label col-md-2" for="username">Username</label>
        <div class="col-md-8">
          <input id="username" name="username" type="text" placeholder="" class="form-control" ng-model="userDetail.username" disabled>
        </div>
      </div>

      <!-- password1 -->
      <div class="form-group margin-top-30" ng-model="userDetail.password1" ng-class="{'has-error': formUserDetail.password1.$error.validator}">
        <label class="control-label col-md-2" for="password1">Password</label>
        <div class="col-md-8">
          <input id="password1" name="password1" type="password" placeholder="" class="form-control" ui-validate-watch="'userDetail.password2'" ui-validate="'$value==userDetail.password2'" ng-model="userDetail.password1">
        </div>
      </div>

      <!-- password2 -->
      <div class="form-group" ng-class="{'has-error': formUserDetail.password2.$error.validator}">
        <label class="control-label col-md-2" for="password2">Repeat Password</label>
        <div class="col-md-8">
          <input id="password2" name="password2" type="password" placeholder="" class="form-control" ui-validate-watch="'userDetail.password1'" ui-validate="'$value==userDetail.password1'" ng-model="userDetail.password2">
        </div>
      </div>

      <!-- firstname -->
      <div class="form-group margin-top-30">
        <label class="control-label col-md-2" for="email">E-Mail</label>
        <div class="col-md-8">
          <input id="email" name="email" type="email" placeholder="" class="form-control" ng-model="userDetail.email">
        </div>
      </div>

      <!-- firstname -->
      <div class="form-group">
        <label class="control-label col-md-2" for="firstname">First Name</label>
        <div class="col-md-8">
          <input id="firstname" name="firstname" type="text" placeholder="" class="form-control" ng-model="userDetail.firstname">
        </div>
      </div>

      <!-- lastname -->
      <div class="form-group">
        <label class="control-label col-md-2" for="lastname">Last Name</label>
        <div class="col-md-8">
          <input id="lastname" name="lastname" type="text" placeholder="" class="form-control" ng-model="userDetail.lastname">
        </div>
      </div>

      <!-- Save -->
      <div class="form-group">
        <div class="col-md-offset-2 col-md-8">
          <button type="submit" class="btn btn-default">Save</button>
          <button ui-sref="admin.users.list" type="button" class="btn btn-default">Cancel</button>
        </div>
      </div>
    </form>

    <div class="form-horizontal">
      <!-- Roles -->
      <h3><strong>Roles</strong></h3>
      <div class="form-group">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <!-- add role to user -->
          <div class="btn-group" ng-show="(roles | duplicateFilter:userDetail.roles).length > 0">
            <button type="button" class="btn btn-default dropdown-toggle dropdown-width" data-toggle="dropdown">
              &nbsp;
              <span ng-bind="selectedRole.roleName"></span>
              <span class="pull-right">
                <span class="caret"></span>
              </span>
            </button>
            <ul class="dropdown-menu dropdown-full-width" role="menu">
              <li ng-click="$event.stopPropagation();">
                <div class="input-group" style="width: 100%;">
                  <input type="text" class="form-control" placeholder="Filter" ng-model="rolesFilter">
                  <span class="input-group-btn" ng-show="rolesFilter">
                    <button type="button" class="btn btn-default" ng-click="rolesFilter=''">
                      <span class="fa fa-times"></span>
                    </button>
                  </span>
                </div>
              </li>
              <li ng-repeat="role in roles | filter:{roleName: rolesFilter} | duplicateFilter:userDetail.roles"><a href="" ng-click="$parent.selectedRole=role">{{role.roleName}}</a></li>
            </ul>
            <button type="button" class="btn btn-success" ng-click="addUserRole(userDetail, selectedRole)">
              <span class="fa fa-plus"></span>
            </button>
          </div>
          <!-- roles list -->
          <div class="list-group margin-top-10">
            <div class="panel panel-default" ng-repeat="role in userDetail.roles">
              <div class="panel-heading">
                <strong>{{role.roleName}}</strong>
                <span class="pull-right">
                  <button type="button" class="btn btn-xs btn-danger" ng-click="removeUserRole(userDetail, role)">
                    <span class="fa fa-times"></span>
                    Remove
                  </button>
                </span>
              </div>
              <!-- permissions list -->
              <ul class="list-group">
                <li class="list-group-item" ng-repeat="permission in role.permissions">
                  {{permission.permissionValue}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-lg-5"></div>
</div>
