<div class="row" ng-controller="UsersDetailCtrl">
  <div class="col-lg-7">

    <!-- Administration -->
    <div class="detail-group" ng-if="userDetail.id !== undefined">
      <div class="detail-group-header">{{'administration.administration' | i18n}}</div>
      <form class="form-horizontal">
        <!-- delete user -->
        <div class="form-group">
          <label class="control-label col-md-2">{{'common.delete' | i18n}} {{'user.user' | i18n}}</label>
          <div class="col-md-8">
            <button type="button" class="btn btn-danger" confirm-dialog title="'common.delete' | i18n" text="'user.deleteUserDialog' | i18n" confirm="removeUser()">
              <span class="fa fa-times"></span>
              {{'common.delete' | i18n}}
            </button>
          </div>
        </div>
      </form>
    </div>

    <!-- User Data -->
    <div class="detail-group">
      <div class="detail-group-header">{{'user.user' | i18n}}</div>
      <form name="formUserData" class="form-horizontal margin-top-30" novalidate ng-submit="formUserData.$valid">
        <!-- userid -->
        <div class="form-group">
          <label class="control-label col-md-2" for="userid">{{ 'user.userId' | i18n }}</label>
          <div class="col-md-8">
            <input id="userid" name="userid" type="text" placeholder="" class="form-control" ng-model="userDetail.id" disabled>
          </div>
        </div>

        <!-- username -->
        <div class="form-group">
          <label class="control-label col-md-2" for="username">{{ 'user.username' | i18n }}</label>
          <div class="col-md-8">
            <input id="username" name="username" type="text" placeholder="" class="form-control" ng-model="userDetail.username">
          </div>
        </div>

        <!-- password1 -->
        <div class="form-group margin-top-30" ng-model="userDetail.password1" ng-class="{'has-error': formUserData.password1.$error.validator}">
          <label class="control-label col-md-2" for="password1">{{ 'user.password' | i18n }}</label>
          <div class="col-md-8">
            <input id="password1" name="password1" type="password" placeholder="" class="form-control" ui-validate-watch="'userDetail.password2'" ui-validate="'$value==userDetail.password2'" ng-model="userDetail.password1">
          </div>
        </div>

        <!-- password2 -->
        <div class="form-group" ng-class="{'has-error': formUserData.password2.$error.validator}">
          <label class="control-label col-md-2" for="password2">{{ 'user.repeatPassword' | i18n }}</label>
          <div class="col-md-8">
            <input id="password2" name="password2" type="password" placeholder="" class="form-control" ui-validate-watch="'userDetail.password1'" ui-validate="'$value==userDetail.password1'" ng-model="userDetail.password2">
          </div>
        </div>

        <!-- firstname -->
        <div class="form-group margin-top-30">
          <label class="control-label col-md-2" for="email">{{ 'user.email' | i18n }}</label>
          <div class="col-md-8">
            <input id="email" name="email" type="email" placeholder="" class="form-control" ng-model="userDetail.email">
          </div>
        </div>

        <!-- firstname -->
        <div class="form-group">
          <label class="control-label col-md-2" for="firstname">{{ 'user.firstname' | i18n }}</label>
          <div class="col-md-8">
            <input id="firstname" name="firstname" type="text" placeholder="" class="form-control" ng-model="userDetail.firstname">
          </div>
        </div>

        <!-- lastname -->
        <div class="form-group">
          <label class="control-label col-md-2" for="lastname">{{ 'user.lastname' | i18n }}</label>
          <div class="col-md-8">
            <input id="lastname" name="lastname" type="text" placeholder="" class="form-control" ng-model="userDetail.lastname">
          </div>
        </div>

        <!-- Save -->
        <div class="form-group">
          <div class="col-md-offset-2 col-md-8">
            <button type="submit" class="btn btn-primary" submit="save()" loading-button>{{ 'common.save' | i18n }}</button>
            <button ui-sref="admin.users.list" type="button" class="btn btn-default">{{ 'common.cancel' | i18n }}</button>
          </div>
        </div>
      </form>
    </div>

    <div class="detail-group" ng-if="userDetail.id !== undefined">
      <!-- Roles -->
      <div class="detail-group-header">{{ 'user.roles' | i18n }}</div>
      <div class="col-md-offset-2 col-md-8 form-padding-fix">
        <!-- add role to user -->
        <div class="form-inline">
          <div class="form-group">
            <div style="width:300px;" complex-dropdown="roles"></div>
          </div>
          <button type="button" class="btn btn-success" submit="addUserRole(userDetail, roles.selection); roles.selection=null" loading-button>
            <span class="fa fa-plus"></span>
          </button>
        </div>
        <!-- roles list -->
        <div class="list-group margin-top-10">
          <div class="panel panel-default" ng-repeat="role in userDetail.roles">
            <div class="panel-heading">
              <strong>{{role.roleName}}</strong>
              <span class="pull-right">
                <button type="button" class="btn btn-xs btn-danger" ng-click="removeUserRole(userDetail, role)">
                  <span class="fa fa-times"></span>
                  {{ 'common.remove' | i18n }}
                </button>
              </span>
            </div>
            <!-- permissions list -->
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="permission in role.permissions">
                {{permission.permissionValue}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
