<div class="ui-element" ng-switch on="description.uiHint.type">
  <!-- IntegralSlider -->
  <div ng-switch-when="IntegralSlider">
    <div class="form-group">
      <label class="control-label col-md-2">{{description.name}}</label>
      <div class="col-md-8">
        <span ng-model="value[valuename]" min="description.uiHint.min" step="1" max="description.uiHint.max" value="value" ng-disabled="disabled" slider></span>
      </div>
    </div>
  </div>
  <!-- FractionalSlider -->
  <div ng-switch-when="FractionalSlider">
    <div class="form-group">
      <label class="control-label col-md-2">{{description.name}}</label>
      <div class="col-md-8">
        <span ng-model="value[valuename]" min="description.uiHint.min" step="1" max="description.uiHint.max" value="value" ng-disabled="disabled" slider></span>
      </div>
    </div>
  </div>
  <!-- PercentageSlider -->
  <div ng-switch-when="PercentageSlider">
    <div class="form-group">
      <label class="control-label col-md-2">{{description.name}}</label>
      <div class="col-md-8">
        <span ng-model="value[valuename]" min="0" step="0.01" max="1" value="value" ng-disabled="disabled" slider></span>
      </div>
    </div>
  </div>
  <!-- ToggleButton -->
  <div ng-switch-when="ToggleButton">
    <div class="form-group">
      <label class="control-label col-md-2">{{description.name}}</label>
      <div class="col-md-8">
        <span ng-model="value[valuename]" ng-disabled="disabled" toggle-switch></span>
      </div>
    </div>
  </div>
  <!-- EditText -->
  <div ng-switch-when="EditText">
    <div class="form-group">
      <label class="control-label col-md-2">{{description.name}}</label>
      <div class="col-md-8">
        <input type="text" placeholder="" class="form-control" ng-model="value[valuename]" ng-disabled="disabled">
      </div>
    </div>
  </div>
  <!-- EditNumber -->
  <div ng-switch-when="EditNumber">
    <div class="form-group">
      <label class="control-label col-md-2">{{description.name}}</label>
      <div class="col-md-8">
        <input type="number" placeholder="" class="form-control" ng-model="value[valuename]" ng-disabled="disabled">
      </div>
    </div>
  </div>
  <!-- DropDown -->
  <div ng-switch-when="EnumDropDown">
    <div class="form-group">
      <label class="control-label col-md-2">{{description.name}}</label>
      <div class="col-md-8">
        <div class="dropdown">
<!--           <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true" ng-disabled="disabled">
            {{value[valuename]}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="key in description.uiHint.possibleValues"><a href="">{{key}}</a></li>
          </ul> -->
          
          <ol class="nya-bs-select" ng-model="value[valuename]" ng-disabled="disabled">
            <li nya-bs-option="key in description.uiHint.possibleValues">
                <a>{{key}}</a>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- DropDown -->
  <div ng-switch-when="ThingReferenceDropDown">
    <div class="form-group">
      <label class="control-label col-md-2">{{description.name}}</label>
      <div class="col-md-8">
        <ol class="nya-bs-select" ng-model="value[valuename]" ng-disabled="disabled">
          <li nya-bs-option="thingInfo in thingInfos">
              <a>{{thingInfo.metainfo.name}}</a>
          </li>
        </ol>
      </div>
    </div>
  </div>
  <!-- unknown -->
  <div ng-switch-default>can't display <strong>{{description.name}}</strong>: unknown UI type <strong>{{description.uiHint.type}}</strong></div>
</div>
