<div class="home" ng-controller="HomeCtrl">
  <!-- headline -->
  <div class="header">
    <header class="clearfix">
      <h1><span class="icon icon-shield"></span></h1>
	  <br />
      <p>RIOT</p>
	  <br />
      <p>{{ 'webapp.description' | i18n }}</p>
    </header>
  </div>

  <!-- features -->
  <div class="row highlight">
    <div class="col-md-4">
      <span class="fa fa-cloud"></span>
      <h2>Server</h2>
      <p>{{ 'webapp.description_server' | i18n }}</p>
    </div>

    <div class="col-md-4">
      <span class="fa fa-android"></span>
      <h2>User Interface</h2>
      <p>{{ 'webapp.description_interface' | i18n }}</p>
    </div>

    <div class="col-md-4">
      <span class="fa fa-mobile"></span>
      <h2>Things</h2>
      <p>{{ 'webapp.description_things' | i18n }}</p>
    </div>
  </div>

  <!-- details -->
  <div class="container details">
    <div class="row">
      <h1 class="centered">{{ 'webapp.about_riot' | i18n }}</h1>

      <div class="col-lg-6">
		<h2>{{ 'webapp.development' | i18n }}</h2>
		<p>{{ 'webapp.development_text' | i18n }}</p>
		
	  	<h2>{{ 'webapp.overview' | i18n }}</h2>
		<img src="img/internet_of_things_overview.png" width="90%"></img>
		</div>

      <div class="col-lg-6">
		<h2>{{ 'webapp.vision' | i18n }}</h2>
        <p>{{ 'webapp.vision_text' | i18n }}</p>
		
		<h2>{{ 'webapp.mission' | i18n }}</h2>
        <p>{{ 'webapp.mission_text' | i18n }}</p>
      </div>
    </div>
  </div>
  <br/>
</div>