.complex-dropdown
{
  width: 100%;
  > button {
    width: 100%;
    text-align: left;
  }
  .caret {
    position: absolute;
    right: 10px;
    top: 15px;
  }
  .filter {
    margin-top: -5px;
    input {
      border-radius: 0;
      border-left: 0;
      border-right: 0;
      border-top: 0;
    }
    button {
      border-radius: 0;
      margin-left: 0 !important;
    }
  }
  .pagination-info {
    border-top: 1px solid #CFCFCF;
    color: #AFAFAF;
    text-align: center;
    padding: 5px 0;
  }
  .pager {
    margin: 5px 5px;
  }
}