<div class="row" ng-controller="RoleDetailCtrl">
  <div class="col-lg-7">

    <!-- Administration -->
    <div class="detail-group" ng-if="roleDetail.id !== undefined">
      <div class="detail-group-header">Administration</div>
      <form class="form-horizontal">
        <!-- delete role -->
        <div class="form-group">
          <label class="control-label col-md-2">Delete Role</label>
          <div class="col-md-8">
            <button type="button" class="btn btn-danger" ng-click="removeRole()">
              <span class="fa fa-times"></span>
              Remove
            </button>
          </div>
        </div>
      </form>
    </div>

    <!-- Role Data -->
    <div class="detail-group">
      <div class="detail-group-header">Role Data</div>
      <form name="formRoleDetail" class="form-horizontal" novalidate ng-submit="formRoleDetail.$valid">
        <!-- roleid -->
        <div class="form-group">
          <label class="control-label col-md-2" for="roleid">{{ 'user.roleId' | i18n }}</label>
          <div class="col-md-8">
            <input id="roleid" name="roleid" type="text" placeholder="" class="form-control" ng-model="roleDetail.id" disabled>
          </div>
        </div>

        <!-- name -->
        <div class="form-group">
          <label class="control-label col-md-2" for="name">{{ 'user.roleName' | i18n }}</label>
          <div class="col-md-8">
            <input id="name" name="name" type="text" placeholder="" class="form-control" ng-model="roleDetail.roleName">
          </div>
        </div>

        <!-- description -->
        <div class="form-group">
          <label class="control-label col-md-2" for="description">{{ 'user.description' | i18n }}</label>
          <div class="col-md-8">
            <textarea id="description" name="description" class="form-control" rows="4" ng-model="roleDetail.description"></textarea>
          </div>
        </div>

        <!-- Save -->
        <div class="form-group">
          <div class="col-md-offset-2 col-md-8">
            <button type="submit" class="btn btn-primary" submit="save()" loading-button>{{ 'common.save' | i18n }}</button>
            <button ui-sref="admin.authorization.list" type="button" class="btn btn-default">{{ 'common.cancel' | i18n }}</button>
          </div>
        </div>
      </form>
    </div>

    <!-- Permissions -->
    <div class="detail-group" ng-if="roleDetail.id !== undefined">
      <div class="detail-group-header">{{ 'user.permissions' | i18n }}</div>
      <div class="col-md-offset-2 col-md-8 form-padding-fix">
        <!-- add permission to role -->
        <div class="form-inline">
          <div class="form-group">
            <div style="width:300px;" complex-dropdown="permissions"></div>
          </div>
          <button type="button" class="btn btn-success" submit="addRolePermission(roleDetail, permissions.selection); permissions.selection=null" loading-button>
            <span class="fa fa-plus"></span>
          </button>
        </div>
        <!-- permissions list -->
        <ul class="list-group margin-top-10">
          <li class="list-group-item" ng-repeat="permission in roleDetail.permissions">
            {{permission.permissionValue}}
            <span class="pull-right">
              <button type="button" class="btn btn-xs btn-danger" submit="removeRolePermission(roleDetail, permission)" loading-button>
                <span class="fa fa-times"></span>
                {{ 'common.remove' | i18n }}
              </button>
            </span>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
