<div class="modal-header">
  <h3 class="modal-title">{{ 'thing.chooseShareUser' | i18n }}</h3>
</div>
<div class="modal-body">
  <!-- table -->
  <div class="row">
    <button class="btn btn-default list-collapse-button" type="button"
      data-toggle="collapse" data-target=".list-options"
      aria-expanded="false">
      <span class="fa fa-bars"></span>
    </button>

    <!-- header -->
    <div class="row form-inline list-options margin-top-10">
      <div class="col-sm-6 form-group">
        <div class="input-group input-limit">
          <input type="text" class="form-control" ng-model="limit">
          <div class="input-group-btn">
            <button type="button"
              class="btn btn-default dropdown-toggle"
              data-toggle="dropdown" aria-expanded="false">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li><a ng-click="limit=10" href="">10</a></li>
              <li><a ng-click="limit=20" href="">20</a></li>
              <li><a ng-click="limit=50" href="">50</a></li>
              <li><a ng-click="limit=100" href="">100</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6 form-group">
        <input id="listFilter" type="search"
          class="form-control pull-right" placeholder="Filter"
          ng-model="filter">
      </div>
    </div>

    <div class="list-group margin-top-10">
      <div ng-repeat="user in users | filter:filter">
        <a class="list-group-item" ng-click="setSelectedUser(user)" ng-class="{active: user == selectedUser}">
          <h4 class="list-group-item-heading">{{user.username}}</h4>
        </a>
      </div>
    </div>

    <!-- footer -->
    <div class="row">
      <div class="col-sm-12">{{ 'common.showing' | i18n }}
        {{(current - 1) * limit + 1}} {{ 'common.to' | i18n }}
        {{(current - 1) * limit + roles.length}} {{ 'common.of' | i18n
        }} {{total}} {{ 'common.entries' | i18n }}</div>
      <div class="col-sm-12 text-center">
        <pagination ng-model="rolesList.current" items-per-page="limit"
          total-items="total" ng-change="getRoles()"></pagination>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>