<div class="row">  
  
  <div class="col-md-12">
    <button ui-sref="app.rules.detail({ruleId: 'new'})" class="btn btn-success" ><i class="fa fa-plus"></i> {{ 'common.add' | i18n }}</button>
  </div>

  <!-- table -->
  <div class="col-md-12">
    <button class="btn btn-default list-collapse-button" type="button" data-toggle="collapse" data-target=".list-options" aria-expanded="false">
      <span class="fa fa-bars"></span>
    </button>

    <!-- table header -->
    <div class="row form-inline list-options margin-top-10">
      <div class="col-sm-6 form-group">
        <select selectpicker class="form-control" data-width="100px" ng-model="limit">
          <option>10</option>
          <option>20</option>
          <option>50</option>
          <option>100</option>
        </select>
      </div>
      <div class="col-sm-6 form-group">
        <input id="listFilter" type="search" class="form-control pull-right" placeholder="Filter" ng-model="filter">
      </div>
    </div>

    <!-- table content -->
    <div class="table-list margin-top-10">
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr role="row">
              <th style="width: 50px;">{{ 'common.id' | i18n }}</th>
              <th style="width: 150px;">{{ 'rules.name' | i18n }}</th>
              <th style="width: 500px;">{{ 'rules.type' | i18n }}</th>
              <th style="width: 100px;">{{ 'rules.status' | i18n }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ui-sref="app.rules.detail({ruleId: rule.id})" ng-repeat="rule in rules">
              <td>{{ rule.id }}</td>
              <td>{{ rule.name }}</td>
              <td>{{ rule.type }}</td>
              <td>{{ 'rules.' + rule.status | i18n }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- table footer -->
    <div class="row">
      <div class="col-sm-6">
        <div>{{ 'common.showing' | i18n }} {{current * limit + 1}} {{ 'common.to' | i18n }} {{current * limit + rules.length}} {{ 'common.of' | i18n }} {{total}} {{ 'common.entries' | i18n }}</div>
      </div>
      <div class="col-sm-12 text-center">
        <pagination ng-model="current" items-per-page="limit" total-items="total" ng-change="getThings()"></pagination>
      </div>
    </div>
  </div>

</div>
