@import "bower_components/bootstrap/less/bootstrap.less";
//@import "bower_components/bootstrap/less/theme.less";
@import "bower_components/font-awesome/less/font-awesome.less";
@fa-font-path: "bower_components/font-awesome/fonts";
/* Component LESS */

@import "views/app/app.less";
@import "views/app/navigation/navbar/user/user.less";
@import "views/app/navigation/navbar/alerts/alerts.less";
@import "views/app/navigation/navbar/navbar.less";
@import "views/app/navigation/sidebar/sidebar.less";
@import "views/app/dashboard/dashboard.less";
@import "views/app/calendar/calendar.less";
@import "views/app/devices/devices.less";
@import "views/app/profile/profile.less";
@import "views/admin/admin.less";
@import "views/landing/landing.less";
@import "views/landing/navigation/navigation.less";
@import "views/landing/navigation/login-form/login-form.less";
@import "views/landing/home/home.less";
@import "views/landing/register/register.less";
@import "views/landing/about/about.less";
/* Add Component LESS Above */
/* Required for Angular UI Bootstrap */

a, .nav, .pagination, .carousel, .panel-title {
  cursor: pointer;
}
body {
  background-color: #f8f8f8;
  padding: 0;
  margin: 0;
}
.margin-top-05 {
  margin-top: 0.5em;
}
.margin-top-10 {
  margin-top: 1.0em;
}
.margin-top-15 {
  margin-top: 1.5em;
}
.margin-top-20 {
  margin-top: 2.0em;
}
.margin-top-25 {
  margin-top: 2.5em;
}
.margin-top-30 {
  margin-top: 3.0em;
}
