<div class="row things-detail" ng-controller="ThingsDetailCtrl">
  <div class="col-lg-7">
    <!-- Administration -->
    <div class="detail-group" ng-if="thingDetail.id !== undefined">
      <div class="detail-group-header">{{'administration.administration' | i18n}}</div>
      <form class="form-horizontal">
        <!-- delete thing -->
        <div class="form-group">
          <label class="control-label col-md-2">{{'common.delete' | i18n}} {{'thing.thing' | i18n}}</label>
          <div class="col-md-8">
            <button type="button" class="btn btn-danger" confirm-dialog title="'common.delete' | i18n" text="'thing.deleteThingDialog' | i18n" confirm="removeThing()">
              <span class="fa fa-times"></span>
              {{'common.delete' | i18n}}
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="detail-group">
      <div class="detail-group-header">{{'thing.thing' | i18n}}</div>
      <form name="formThingDetail" class="form-horizontal" novalidate ng-submit="formThingDetail.$valid">
        <!-- thingid -->
        <div class="form-group">
          <label class="control-label col-md-2" for="thingid">{{'thing.thingId' | i18n}}</label>
          <div class="col-md-8">
            <input id="thingid" name="thingid" type="text" placeholder="" class="form-control" ng-model="thingDetail.id" disabled>
          </div>
        </div>

        <!-- type -->
        <div class="form-group">
          <label class="control-label col-md-2" for="type">{{'thing.type' | i18n}}</label>
          <div class="col-md-8">
            <input id="type" name="type" type="text" placeholder="" class="form-control" ng-model="thingDetail.type" disabled>
          </div>
        </div>

        <!-- name -->
        <div class="form-group">
          <label class="control-label col-md-2" for="name">{{'thing.name' | i18n}}</label>
          <div class="col-md-8">
            <input id="name" name="name" type="text" placeholder="" class="form-control" ng-model="thingDetail.metainfo.name">
          </div>
        </div>

        <!-- parent -->
        <div class="form-group">
          <label class="control-label col-md-2" for="parent">{{'thing.parent' | i18n}}</label>
          <div class="col-md-8">
            <div class="form-inline">
              <div class="parent-list" style="width:300px;" complex-dropdown="things"></div>
              <button type="button" class="btn btn-danger parent-remove" ng-if="things.selection.id" ng-click="things.selection=null">
                <span class="fa fa-times"></span>
              </button>
            </div>
          </div>
        </div>

        <!-- Save -->
        <div class="form-group">
          <div class="col-md-offset-2 col-md-8">
            <button type="submit" class="btn btn-primary" submit="save()" loading-button>{{ 'common.save' | i18n }}</button>
            <button ui-sref="app.things.list" type="button" class="btn btn-default">{{ 'common.cancel' | i18n }}</button>
          </div>
        </div>
      </form>
    </div>

    <!-- Properties -->
    <div class="detail-group">
      <div class="detail-group-header">{{'thing.properties' | i18n}}</div>
      <form class="form-horizontal">
        <div ng-controller="PropertyCtrl" ng-repeat="property in thingDescription.properties" disabled="!property.writable" value="thingState" valuename="property.name" description="property" ui-element></div>
      </form>
    </div>

    <!-- Events -->
    <div class="detail-group">
      <div class="detail-group-header">{{'thing.events' | i18n}}</div>
      <form class="form-horizontal list-group" ng-repeat="event in thingDescription.events">
        <div class="list-group-item event">
          <h4 class="list-group-item-heading">{{event.name}}</h4>
          <div class="list-group-item-text">
            <div ng-repeat="parameter in event.instanceDescription.parameters" value="foo" description="parameter" ui-element></div>
          </div>
        </div>
      </form>
    </div>

    <!-- Actions -->
    <div class="detail-group">
      <div class="detail-group-header">{{'thing.actions' | i18n}}</div>
      <form class="form-horizontal list-group" ng-repeat="action in thingDescription.actions">
        <div class="list-group-item action">
          <h4 class="list-group-item-heading">{{action.name}}</h4>
          <div class="list-group-item-text">
            <div ng-repeat="parameter in action.instanceDescription.parameters" value="foo" description="parameter" ui-element></div>
          </div>
        </div>
      </form>
    </div>

    <!-- hierarchy -->
    <div class="detail-group">
      <div class="detail-group-header">{{'thing.hierarchy' | i18n}}</div>
      <div things-hierarchy="thingDetail"></div>
    </div>

    <!-- Share -->
    <div class="detail-group">
      <div class="detail-group-header">{{ 'thing.sharing' | i18n }}</div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <!-- share select -->
          <div class="form-inline">
            <div class="form-group">
              <div style="min-width: 300px" complex-dropdown="users"></div>
            </div>
            <div class="form-group">
              <select selectpicker class="form-control" data-width="200px" ng-model="selectedRight">
                <option>{{ 'thing.read' | i18n }}</option>
                <option>{{ 'thing.control' | i18n }}</option>
                <option>{{ 'thing.execute' | i18n }}</option>
                <option>{{ 'thing.delete' | i18n }}</option>
                <option>{{ 'thing.share' | i18n }}</option>
                <option>{{ 'thing.full' | i18n }}</option>
              </select>
            </div>
            <button class="btn btn-success" ng-click="share(users.selection.id, selectedRight)">
              <span class="fa fa-plus"></span>
            </button>
          </div>
        </div>
        <!-- shared users -->
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr role="row">
              <th>{{ 'user.user' | i18n }}</th>
              <th style="width: 150px;">{{ 'user.permission' | i18n }}</th>
              <th style="width: 50px;">{{ 'common.action' | i18n }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="userPerm in sharedUserPermissions">
              <td>{{ userPerm.user.username }}</td>
              <td>{{ 'thing.' + userPerm.permission | lowercase | i18n }}</td>
              <td>
                <div confirm-dialog title="'common.delete' | i18n" text="'thing.deleteShareDialog' | i18n" confirm="unshare(userPerm.allPermissions, userPerm.permission, userPerm.user.id)">
                  <button class="btn btn-danger btn-xs" style="margin-left: 9px;">
                    <span class="fa fa-times"></span>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
